.cart {
  cursor: pointer;
  background-color: #e7eef6;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  float: left;
}
.cart .overlay {
  padding: 6px 11px;
}

.cart:hover {
  background-color: #e5e4f6;
}

.cart a img {
  border: 0px;
}

.cart_loader {
  background: #cccccc url("../images/loader_31x31.gif") center center no-repeat !important;
}

.fp_payment_cart_table input {
  width: 30px;
}