.cart {
  cursor: pointer;
  background-color: #e7eef6;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  float: left;
}

.cart:hover {
  background-color: #e5e4f6;
}

.cart.small {
  width: 50px;
}

.cart a img {
  border: 0px;
}

.cart_loader {
  min-width: 48px;
  min-height: 48px;
  position: absolute;
  display: none;
}